@use "p-wrapper";
@use "p-container";
@use "p-header";
@use "p-hamburger";
@use "p-pc-left";
@use "p-pc-right";
@use "p-sp-nav";
@use "p-fv";
@use "p-offer";
@use "p-clinic";
@use "p-tab";
@use "p-footer";
@use "p-footer-cta";