@use "../global" as global;

.p-footer {
  background-color: global.$primary-color;
  text-align: center;
  padding: 7px 0 101px;
  @include global.mq(sp) {
    padding: 1.867vw 0 26.933vw;
  }
  &__copy {
    font-weight: bold;
    font-size: 10px;
    color: #fff;
    line-height: 1;
    display: block;
    @include global.mq(sp) {
      font-size: 2.667vw;
    }
  }
}
