@use "../global" as global;

.p-pc-left {
  width: calc((100% - 375px) / 2);
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background: global.$primary-color;
  color: #fff;
  justify-content: center;
  align-items: center;
  padding: 20px;
  @include global.mq(sp){
    display: none;
  }
  &__logo{
    max-width: 191px;
  }
}
